<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head">
</head>
<body>
<div th:replace="common::bg"></div>
<div th:replace="common::navbar(cur=0)"></div>
<div style="padding-left: 280px">
  <div class="container">
    <ul class="bg-light list-group">
      <li class="list-group-item">
        <div th:text="${server.getName()}"></div>
        <div th:text="${server.pid()}"></div>
      </li>
    </ul>
    <div th:replace="common::serverTermianl(server=${server},config=${config})">
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>